/* line 50, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
:root {
  font-size: 12px;
  letter-spacing: .1rem;
}

/* line 55, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #f6f6f6;
}

/* line 61, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
button {
  cursor: pointer;
}

/* line 66, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
.chevron-invert {
  transform: rotate(180deg) !important;
}

/* line 135, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
.block-display {
  display: block;
}

/* line 139, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
.no-display {
  display: none !important;
}

/* line 143, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
.fix-display {
  position: fixed;
}

/* Chrome, Safari, Edge, Opera */
/* line 150, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* line 157, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
input[type=number] {
  -moz-appearance: textfield;
}

/* line 163, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
a:link {
  text-decoration: none;
}

/* line 167, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
a:hover {
  text-decoration: none;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
body {
  position: relative;
}

/* line 5, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
header {
  height: 9rem;
  width: 100%;
  padding: 0 1.5rem;
  background-image: linear-gradient(to right, #2C989B, #a9d5d7);
  color: #f6f6f6;
  position: fixed;
  z-index: 3;
}

/* line 14, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
header section {
  display: flex;
}

/* line 18, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
header section:nth-child(1) {
  padding: 1.5rem 0 0 0;
}

/* line 21, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
header section:nth-child(1) .logo-container {
  flex-grow: 3;
}

/* line 25, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
header section:nth-child(1) button {
  padding: 0;
  background: none;
  border: none;
  flex-grow: 1;
}

/* line 36, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
header .user-details {
  display: flex;
  font-weight: bold;
  padding-top: 1rem;
}

/* line 41, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
header .user-details p:nth-child(1) {
  padding-right: 1rem;
  border-right: 2px solid #f6f6f6;
}

/* line 45, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
header .user-details p:nth-child(2) {
  padding-left: 1rem;
}

/* line 48, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
header .user-details p:nth-child(2) span {
  font-weight: normal;
  text-transform: uppercase;
}

/* line 56, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
.content {
  height: calc(100vh - .3rem - 9rem);
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-top: 9rem;
}

/* line 63, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
.content section {
  border-bottom: #ececec solid 0.1rem;
}

/* line 69, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
.content .stats-and-polls {
  height: 25%;
  min-height: 150px;
  width: auto;
}

/* line 74, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
.content .surveys-quizzes {
  height: 37.5%;
  min-height: 250px;
  width: auto;
  align-items: baseline;
}

/* line 84, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_home.scss */
.surveys-quizzes h1 {
  padding: 1.5rem 0 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #49526d;
}

/* line 2, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav {
  padding: 1.5rem;
  background-image: linear-gradient(to right, #2C989B, #a9d5d7);
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 14, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav a {
  color: #f6f6f6;
  text-decoration: none;
}

/* line 19, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav div {
  display: flex;
}

/* line 22, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav div div {
  flex-grow: 3;
}

/* line 26, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav div button {
  padding: 0;
  background: none;
  border: none;
  flex-grow: 1;
}

/* line 31, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav div button img {
  float: right;
}

/* line 37, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav hr {
  color: #f6f6f6;
  border-style: solid;
  margin-bottom: 1rem;
}

/* line 43, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul {
  list-style-type: none;
  padding: 0;
}

/* line 47, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li {
  position: relative;
  margin: 1rem 0;
}

/* line 51, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li .menu-item-content {
  display: flex;
  padding: .25rem 0;
  color: #f6f6f6;
  border-radius: .5rem;
  background: none;
  border: none;
}

/* line 58, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li .menu-item-content div {
  width: 2rem;
}

/* line 60, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li .menu-item-content div img {
  display: block;
  margin: auto;
}

/* line 65, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li .menu-item-content p {
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-left: 1rem;
  margin-top: .25rem;
  margin-right: .5rem;
}

/* line 72, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li .menu-item-content .notif {
  width: 1.25rem !important;
  height: 1.25rem;
  border-radius: 1rem;
  background-color: #ff9285;
  color: white;
  margin-left: 1rem;
  margin-top: .3rem;
  display: block;
  position: relative;
}

/* line 78, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li .menu-item-content .notif p {
  font-size: .75rem;
  position: absolute;
  margin: 0 !important;
  top: .1875rem;
  left: .35rem;
}

/* line 87, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li a:active {
  background: rgba(73, 82, 109, 0.25);
}

/* line 94, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li ul {
  padding-left: 3rem;
  color: #f6f6f6;
}

/* line 99, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li ul li {
  border-radius: .25rem;
  margin: 1rem 0;
}

/* line 102, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li ul li a:active {
  background: none;
}

/* line 106, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li ul li:active {
  background: rgba(73, 82, 109, 0.25);
}

/* line 111, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_mobile-nav.scss */
.mobile-nav > ul > li:nth-last-of-type(1) {
  margin: 2rem 0;
}

/* line 2, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_profile.scss */
.account-details ul {
  margin: 0 1.5rem;
}

/* line 3, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/screens/_faq-about.scss */
.faq-about h1 {
  padding: 1.5rem 0 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #49526d;
}

/* line 3, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.hscroll {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1000, max-content);
  overflow-x: auto;
  list-style-type: none;
}

/* line 14, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.hscroll .spacer {
  width: calc(1.5rem/2);
  height: 120px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* line 23, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.nobar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
/* line 28, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.nobar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.status-card {
  position: relative;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #6a6a6a;
  line-height: 1.8;
  padding-left: 1.5rem;
  width: 200px;
  height: 120px;
  font-family: "Montserrat", sans-serif;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.status-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 8, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.status-card span {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

/* line 12, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.status-card span:nth-of-type(1), .status-card span:nth-of-type(1) {
  color: #49526d;
  font-size: 1.25rem;
}

/* line 17, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.status-card span:nth-of-type(3) {
  color: #C4C4C4;
  font-size: 1.25rem;
}

/* line 21, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.status-card span:nth-of-type(4) {
  color: #C4C4C4;
  font-size: .75rem;
}

/* line 25, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.status-card .back-progress {
  display: inline-block;
  position: relative;
  height: 6px;
  width: 150px;
  background: #f6f6f6;
  border-radius: 1rem;
}

/* line 34, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.status-card .front-progress {
  height: 6px;
  width: calc(150px * 0.75);
  background: #49526d;
  border-radius: 1rem;
}

/* line 41, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.status-card .dot-progress {
  height: 6px;
  width: 6px;
  background: white;
  border: 3px solid #49526d;
  border-radius: 1rem;
  position: absolute;
  top: -3px;
  left: calc(150px * 0.75 - 3px);
}

/* line 52, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.status-card p:nth-of-type(1) {
  font-family: "Lato", sans-serif;
}

/* line 56, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.status-card p:nth-of-type(2) {
  display: inline-block;
  margin: 0 1rem 0 1rem;
  font-size: 1rem;
}

/* line 62, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.status-card #trophy-icon {
  width: 1.5rem;
  height: 2rem;
  background-image: url("/assets/rookie-trophy.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
}

/* line 75, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.rookie-cols span:nth-of-type(1), .rookie-cols span:nth-of-type(2) {
  color: #C4C4C4;
}

/* line 79, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.rookie-cols span:nth-of-type(3), .rookie-cols span:nth-of-type(4) {
  color: #FF9285;
}

/* line 83, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.rookie-cols .front-progress {
  background: #C4C4C4;
}

/* line 87, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.rookie-cols .dot-progress {
  border-color: #C4C4C4;
}

/* line 91, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.rookie-cols #trophy-icon {
  background-image: url("/assets/pro-trophy.svg");
}

/* line 97, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.pro-cols span:nth-of-type(1), .pro-cols span:nth-of-type(2) {
  color: #FF9285;
}

/* line 101, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.pro-cols span:nth-of-type(3), .pro-cols span:nth-of-type(4) {
  color: #2C989B;
}

/* line 105, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.pro-cols .front-progress {
  background: #FF9285;
}

/* line 109, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.pro-cols .dot-progress {
  border-color: #FF9285;
}

/* line 113, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.pro-cols #trophy-icon {
  background-image: url("/assets/champ-trophy.svg");
}

/* line 119, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.champ-cols span:nth-of-type(1), .champ-cols span:nth-of-type(2) {
  color: #2C989B;
}

/* line 123, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.champ-cols span:nth-of-type(3), .champ-cols span:nth-of-type(4) {
  color: #49526D;
}

/* line 127, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.champ-cols .front-progress {
  background: #2C989B;
}

/* line 131, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.champ-cols .dot-progress {
  border-color: #2C989B;
}

/* line 135, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.champ-cols #trophy-icon {
  background-image: url("/assets/all-star-trophy.svg");
}

/* line 141, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.star-cols span:nth-of-type(1), .star-cols span:nth-of-type(2) {
  color: #49526D;
}

/* line 145, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.star-cols span:nth-of-type(3), .star-cols span:nth-of-type(4) {
  color: #49526D;
}

/* line 149, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.star-cols .front-progress {
  background: #49526D;
}

/* line 153, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.star-cols .dot-progress {
  border-color: #49526D;
}

/* line 157, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_status-card.scss */
.star-cols #trophy-icon {
  background-image: url("/assets/all-star-trophy.svg");
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_poll-card.scss */
.poll-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #6a6a6a;
  line-height: 1.8;
  padding-left: 1.5rem;
  width: 200px;
  height: 120px;
  font-family: "Montserrat", sans-serif;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.poll-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 4, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_poll-card.scss */
.poll-card p {
  margin-top: .25rem;
  color: #49526d;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: normal;
}

/* line 11, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_poll-card.scss */
.poll-card button {
  margin-top: 1.15rem;
  border: #ff9285 solid 0.1rem;
  background: white;
  border-radius: .25rem;
  padding: .5rem 1.5rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ff9285;
  text-transform: uppercase;
}

/* line 25, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_poll-card.scss */
.poll-card button:active {
  background: #ff9285;
  color: white;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_prize-draw-card.scss */
.prize-draw-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #6a6a6a;
  line-height: 1.8;
  padding-left: 1.5rem;
  width: 200px;
  height: 120px;
  font-family: "Montserrat", sans-serif;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.prize-draw-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 4, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_prize-draw-card.scss */
.prize-draw-card p:nth-of-type(1) {
  margin-top: .25rem;
  color: #49526d;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}

/* line 12, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_prize-draw-card.scss */
.prize-draw-card p:nth-of-type(2) {
  margin-top: .5rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* line 18, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_prize-draw-card.scss */
.prize-draw-card button {
  margin-top: .25rem;
  border: #ff9285 solid 0.1rem;
  background: white;
  border-radius: .25rem;
  border: #ff9285 solid 0.05rem;
  padding: .5rem 1.5rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ff9285;
  text-transform: uppercase;
}

/* line 24, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_prize-draw-card.scss */
.prize-draw-card button:active {
  background: #ff9285;
  color: white;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_survey-card.scss */
.survey-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #6a6a6a;
  line-height: 1.8;
  padding-left: 1.5rem;
  width: calc(275px - 1.5rem);
  height: 180px;
  position: relative;
  position: relative;
  text-decoration: none;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.survey-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 61, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.survey-card img {
  margin-left: -1.5rem;
  height: 90px;
  width: 275px;
}

/* line 10, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_survey-card.scss */
.survey-card p {
  font-family: "Montserrat", sans-serif;
  color: #49526d;
  padding: 0 0 .25rem 0;
}

/* line 14, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_survey-card.scss */
.survey-card p span {
  text-transform: uppercase;
  font-weight: 500;
}

/* line 19, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_survey-card.scss */
.survey-card div {
  margin-left: -1.5rem;
  width: 275px;
  border-bottom: #ececec solid 0.1rem;
  position: absolute;
  bottom: 3.25rem;
}

/* line 26, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_survey-card.scss */
.survey-card span {
  color: #ff9285;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  padding: .25rem 6rem 0 0;
}

/* line 35, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_survey-card.scss */
.survey-card p:nth-of-type(2) {
  padding-top: .25rem;
  position: absolute;
  bottom: .5rem;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_reward-card.scss */
.reward-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #6a6a6a;
  line-height: 1.8;
  padding-left: 1.5rem;
  width: calc(275px - 1.5rem);
  height: 180px;
  position: relative;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.reward-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 61, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.reward-card img {
  margin-left: -1.5rem;
  height: 90px;
  width: 275px;
}

/* line 4, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_reward-card.scss */
.reward-card div {
  display: flex;
  align-items: center;
}

/* line 7, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_reward-card.scss */
.reward-card div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #49526d;
}

/* line 12, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_reward-card.scss */
.reward-card div p span {
  color: #ff9285;
  font-size: 1.2rem;
}

/* line 17, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_reward-card.scss */
.reward-card div button {
  border: #ff9285 solid 0.1rem;
  height: 3rem;
  flex-basis: 6rem;
  margin: 1rem;
  background: #ff9285;
  border-radius: .25rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* line 20, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_reward-card.scss */
.reward-card div button:active {
  background: white;
  color: #ff9285;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #6a6a6a;
  line-height: 1.8;
  padding-left: 1.5rem;
  min-height: 220px;
  width: auto;
  margin: 1.5rem 1.5rem 0 1.5rem;
  padding: 0;
  line-height: unset;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.profile-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 11, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(1) h1 {
  text-transform: uppercase;
  color: #49526d;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: calc(0.1rem * 2.5);
  padding: 1.5rem 0 .75rem 0;
}

/* line 20, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(1) h1, .profile-card section:nth-of-type(1) h2, .profile-card section:nth-of-type(1) p {
  text-align: center;
}

/* line 24, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(1) h2 {
  letter-spacing: calc(0.1rem * 1.5);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* line 32, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(1) div {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1rem 0 1rem 0;
  margin-left: -.5rem;
}

/* line 40, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(1) div img:nth-of-type(1) {
  padding: 0 .5rem 0 0;
}

/* line 44, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(1) div img:nth-of-type(2) {
  padding: 0 .5rem .25rem .5rem;
}

/* line 48, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(1) div p {
  font-weight: 200;
}

/* line 55, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section {
  border: none;
}

/* line 59, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card hr {
  border: none;
  border-bottom: #ececec solid 0.1rem;
  margin: .5rem 1rem 0 1rem;
}

/* line 64, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(2) {
  padding: 0 .5rem;
}

/* line 66, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(2) ul {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

/* line 71, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(2) ul li {
  flex-basis: 90px;
}

/* line 74, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(2) ul img {
  height: 30px;
}

/* line 77, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(2) ul p:nth-of-type(1) {
  color: #49526d;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: .5rem 0 .5rem 0;
}

/* line 84, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.profile-card section:nth-of-type(2) ul p:nth-of-type(2) {
  font-size: .75rem;
}

/* line 92, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_profile-card.scss */
.account-details h1 {
  padding: 1.5rem 0 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #49526d;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #6a6a6a;
  line-height: 1.8;
  padding-left: 1.5rem;
  line-height: 1.6;
  margin: 0;
  font-weight: unset;
  box-shadow: none;
  border: #c4c4c4 solid 0.05rem;
  width: auto;
  padding: 1rem .5rem;
  margin: .5rem 0;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.details-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  font-weight: unset;
  line-height: 1.6;
  margin: 0;
  font-weight: unset;
}

/* line 13, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* line 17, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-title div:nth-of-type(1) {
  flex-basis: 10%;
  justify-content: center;
  display: flex;
}

/* line 22, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-title h2 {
  flex-basis: 45%;
}

/* line 25, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-title div:nth-of-type(2) {
  width: 1.25rem !important;
  height: 1.25rem;
  border-radius: 1rem;
  background-color: #ff9285;
  color: white;
  text-align: center;
}

/* line 28, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-title div:nth-of-type(2) p {
  padding-left: .1rem;
  font-size: .8rem;
}

/* line 34, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-title .no-dot {
  background: none !important;
}

/* line 37, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-title h3 {
  flex-basis: 30%;
  text-transform: uppercase;
  padding-left: .5rem;
  font-size: .8rem;
}

/* line 45, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-title div:nth-of-type(3) {
  flex-basis: 5%;
  justify-content: center;
  display: flex;
}

/* line 51, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-content {
  padding: 1rem 10%;
  border-top: #ececec solid 0.1rem;
  margin-top: 1rem;
}

/* line 56, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-content label {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #49526d;
}

/* line 61, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-content input, .details-card .details-content select {
  width: 100%;
  margin-bottom: 1rem;
  color: #6a6a6a;
  padding: .5rem 0;
  margin-top: .25rem;
}

/* line 68, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-content [type=submit] {
  background: white;
  border-radius: .25rem;
  border: #ff9285 solid 0.05rem;
  padding: .5rem 1.5rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ff9285;
  text-transform: uppercase;
  width: auto;
  margin-top: 1rem;
  margin-bottom: 0;
}

/* line 75, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-content [type=submit]:active {
  background: #ff9285;
  color: white;
}

/* line 79, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-content .pass-container {
  position: relative;
}

/* line 81, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_details-card.scss */
.details-card .details-content .pass-container [type=checkbox] {
  position: absolute;
  width: auto;
  top: .8rem;
  right: 0;
}

/* line 2, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_faq-card.scss */
.faq ul {
  padding: 1.5rem;
}

/* line 4, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_faq-card.scss */
.faq ul li {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #6a6a6a;
  line-height: 1.8;
  padding-left: 1.5rem;
  min-height: 5rem;
  padding: 0 1.5rem;
  margin: 1.5rem 0;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.faq ul li h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 9, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_faq-card.scss */
.faq ul li .faq-title {
  height: 5rem;
  display: flex;
  align-items: center;
  position: relative;
}

/* line 14, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_faq-card.scss */
.faq ul li .faq-title img {
  position: absolute;
  right: 0;
}

/* line 19, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_faq-card.scss */
.faq ul li .faq-content {
  border-top: #c4c4c4 solid 0.05rem;
  padding: 1.5rem 0;
}

/* line 22, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_faq-card.scss */
.faq ul li .faq-content strong {
  font-weight: bold;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_about-card.scss */
.faq-about {
  border: none !important;
}

/* line 3, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_about-card.scss */
.faq-about article {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #6a6a6a;
  line-height: 1.8;
  padding-left: 1.5rem;
  padding: 1.5rem;
  margin: 1.5rem;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.faq-about article h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 7, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_about-card.scss */
.faq-about article p {
  padding-bottom: 2rem;
}

/* line 10, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_about-card.scss */
.faq-about article div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 14, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_about-card.scss */
.faq-about article div img {
  height: 195px;
  width: auto;
}

/* line 3, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_modal.scss */
.modal {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 12, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_modal.scss */
.modal section {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #6a6a6a;
  line-height: 1.8;
  padding-left: 1.5rem;
  margin: calc(9rem + 1.5rem) 1.5rem 0 1.5rem;
  padding: 0;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/cards/_cards.scss */
.modal section h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 2, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-draw.scss */
#prize-draw-modal {
  display: flex;
}

/* line 6, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-draw.scss */
#prize-draw-modal section {
  height: max-content;
  display: flex;
  flex-direction: column;
}

/* line 10, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-draw.scss */
#prize-draw-modal section h1 {
  padding: 1.5rem 0 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #49526d;
  text-align: center;
  padding: 3rem 0 .5rem 0;
  text-transform: uppercase;
}

/* line 13, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-draw.scss */
#prize-draw-modal section h2 {
  text-align: center;
  color: #A78F85;
  margin: 0 1.5rem;
  font-size: 1.2rem;
}

/* line 20, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-draw.scss */
#prize-draw-modal section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 24, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-draw.scss */
#prize-draw-modal section ul li {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

/* line 28, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-draw.scss */
#prize-draw-modal section ul li img {
  max-width: 90px;
  max-height: 100px;
  align-self: center;
}

/* line 33, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-draw.scss */
#prize-draw-modal section ul li p {
  text-align: center;
  padding: .5rem .25rem;
  width: 100px;
  height: 40px;
  font-size: .8rem;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-draw.scss */
#prize-draw-modal section figure {
  display: flex;
  justify-content: center;
  width: auto;
}

/* line 46, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-draw.scss */
#prize-draw-modal section figure img {
  max-width: 320px;
  max-height: 40px;
  margin: 1.5rem;
  object-fit: contain;
  width: 100%;
}

/* line 54, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-draw.scss */
#prize-draw-modal section button {
  border: #ff9285 solid 0.1rem;
  height: 3rem;
  flex-basis: 6rem;
  margin: 1rem;
  background: #ff9285;
  border-radius: .25rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 1rem 6rem;
  flex-basis: 4rem;
}

/* line 62, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-draw.scss */
#prize-draw-modal section > p {
  padding: 1.5rem 0 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #49526d;
  font-weight: lighter;
  line-height: 1.2;
  font-size: 1.3rem;
  padding: 1rem 0;
  text-align: center;
}

/* line 2, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section {
  padding: 0 1.5rem;
}

/* line 5, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section h1 {
  padding: 1.5rem 0 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #49526d;
  text-align: center;
  padding: 3rem 0 .5rem 0;
  text-transform: uppercase;
  padding-bottom: 3rem;
}

/* line 9, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section ul {
  display: flex;
  flex-wrap: wrap;
}

/* line 12, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section ul li {
  flex-basis: 33%;
  text-align: center;
}

/* line 18, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section form label, #prize-entry-modal section form p {
  padding: 1.5rem 0 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #49526d;
  text-align: center;
  padding: 3rem 0 .5rem 0;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0;
  text-align: inherit;
}

/* line 24, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section form div {
  padding: 1.5rem;
}

/* line 27, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section form div:nth-of-type(1) {
  border-bottom: #ececec solid 0.05rem;
}

/* line 29, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section form div:nth-of-type(1) input {
  border: 0;
  padding-left: 5rem;
  width: 3rem;
  font-size: 1.25rem;
  color: #6a6a6a;
}

/* line 36, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section form div:nth-of-type(1) input:focus {
  outline: none;
}

/* line 39, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section form div:nth-of-type(1) button {
  background: white;
  border-radius: .25rem;
  border: #ff9285 solid 0.05rem;
  padding: .5rem 1.5rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ff9285;
  text-transform: uppercase;
  border-radius: 2rem;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

/* line 46, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section form div:nth-of-type(1) button:active {
  background: #ff9285;
  color: white;
}

/* line 51, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section form div:nth-of-type(1) button:nth-of-type(1) {
  padding: .4rem 1.1rem .6rem 1.1rem;
  margin: 0 1rem 0 2.25rem;
}

/* line 59, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section form div:nth-of-type(2) {
  border-bottom: #ececec solid 0.05rem;
}

/* line 63, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section form input[type="submit"] {
  border: #ff9285 solid 0.1rem;
  height: 3rem;
  flex-basis: 6rem;
  margin: 1rem;
  background: #ff9285;
  border-radius: .25rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  flex-basis: 27px;
  margin: 0;
}

/* line 69, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section form div:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}

/* line 72, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_prize-entry.scss */
#prize-entry-modal section form div:nth-of-type(3) button {
  background: white;
  border-radius: .25rem;
  border: #ff9285 solid 0.05rem;
  padding: .5rem 1.5rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ff9285;
  text-transform: uppercase;
  flex-basis: 27px;
  margin: 1rem 0;
}

/* line 4, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_today-poll.scss */
#today-poll-modal section {
  padding: 0 1.5rem;
}

/* line 6, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_today-poll.scss */
#today-poll-modal section h1 {
  padding: 3rem 0 0 0;
  font-size: 1.25rem;
}

/* line 10, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_today-poll.scss */
#today-poll-modal section h2 {
  padding: 1.5rem 0 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #49526d;
  font-weight: lighter;
  line-height: 1.2;
  font-size: 1.3rem;
  padding: 1rem 0;
  border-bottom: #ececec solid 0.05rem;
}

/* line 18, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_today-poll.scss */
#today-poll-modal section form {
  line-height: 3rem;
}

/* line 20, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_today-poll.scss */
#today-poll-modal section form label {
  padding: 0 0 0 1rem;
  color: #49526d;
  font-size: 1.1rem;
}

/* line 25, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_today-poll.scss */
#today-poll-modal section form input[type=submit] {
  border: #ff9285 solid 0.1rem;
  height: 3rem;
  flex-basis: 6rem;
  margin: 1rem;
  background: #ff9285;
  border-radius: .25rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 1rem 0 3rem 0;
}

/* line 4, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_status-tiers.scss */
#status-tiers-modal section {
  padding: 0 4rem 1.5rem 4rem;
}

/* line 6, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_status-tiers.scss */
#status-tiers-modal section h1 {
  padding: 1.5rem 0 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #49526d;
  text-align: center;
  padding: 3rem 0 .5rem 0;
  text-transform: uppercase;
}

/* line 9, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_status-tiers.scss */
#status-tiers-modal section li {
  display: flex;
}

/* line 12, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_status-tiers.scss */
#status-tiers-modal section li figure {
  padding: 0 5rem 1rem 0;
}

/* line 14, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_status-tiers.scss */
#status-tiers-modal section li figure .tier-img {
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
}

/* line 19, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_status-tiers.scss */
#status-tiers-modal section li figure .rookie-svg {
  background-image: url("/assets/rookie-trophy.svg");
}

/* line 23, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_status-tiers.scss */
#status-tiers-modal section li figure .pro-svg {
  background-image: url("/assets/pro-trophy.svg");
}

/* line 27, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_status-tiers.scss */
#status-tiers-modal section li figure .champ-svg {
  background-image: url("/assets/champ-trophy.svg");
}

/* line 31, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_status-tiers.scss */
#status-tiers-modal section li figure .all-star-svg {
  background-image: url("/assets/all-star-trophy.svg");
}

/* line 34, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_status-tiers.scss */
#status-tiers-modal section li figure svg {
  width: 100px;
  height: 100px;
}

/* line 38, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_status-tiers.scss */
#status-tiers-modal section li figure figcaption {
  padding: 1.5rem 0 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #49526d;
  text-align: center;
  padding: 3rem 0 .5rem 0;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0;
}

/* line 44, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_status-tiers.scss */
#status-tiers-modal section li ul {
  font-size: .8rem;
  padding-top: 1rem;
}

/* line 2, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_adopt-tree.scss */
#adopt-tree-modal .foobar {
  padding: 20px;
  background: yellow;
}

/* line 5, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/modals/_adopt-tree.scss */
#adopt-tree-modal span {
  background: blue;
  color: white;
  padding: 8px;
}

@media only screen and (max-width: 350px) {
  /* line 32, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/media/_small-mob-h620.scss */
  #status-tiers-modal section {
    padding: 0 2rem 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */