/* line 39, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
:root {
  font-size: 12px;
  letter-spacing: .1rem;
}

/* line 44, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #f6f6f6;
}

/* line 50, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
button {
  cursor: pointer;
}

/* line 56, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
.dropdown-open {
  display: block;
}

/* line 60, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_globals.scss */
.dropdown-close {
  display: none;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
body {
  position: relative;
}

/* line 5, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
header {
  height: 9rem;
  width: 100%;
  padding: 0 1.5rem;
  background-image: linear-gradient(to right, #2C989B, #a9d5d7);
  color: #f6f6f6;
  position: fixed;
  z-index: 3;
}

/* line 14, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
header section {
  display: flex;
}

/* line 18, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
header section:nth-child(1) {
  padding: 2rem 0 0 0;
}

/* line 21, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
header section:nth-child(1) .logo-container {
  flex-grow: 3;
}

/* line 25, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
header section:nth-child(1) button {
  padding: 0;
  background: none;
  border: none;
  flex-grow: 1;
}

/* line 36, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
header .user-details {
  display: flex;
  font-weight: bold;
  padding-top: 1rem;
}

/* line 41, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
header .user-details p:nth-child(1) {
  padding-right: 1rem;
  border-right: 2px solid #f6f6f6;
}

/* line 45, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
header .user-details p:nth-child(2) {
  padding-left: 1rem;
}

/* line 48, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
header .user-details p:nth-child(2) span {
  font-weight: normal;
  text-transform: uppercase;
}

/* line 56, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
.content {
  height: calc(100vh - .3rem - 9rem);
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-top: 9rem;
}

/* line 63, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
.content section {
  border-bottom: #ececec solid 0.1rem;
}

/* line 69, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
.content .stats-and-polls {
  height: 25%;
  min-height: 150px;
  width: auto;
}

/* line 74, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
.content .surveys-quizzes {
  height: 37.5%;
  min-height: 250px;
  width: auto;
  align-items: baseline;
}

/* line 84, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_home.scss */
.surveys-quizzes h1 {
  padding: 1.5rem 0 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #49526d;
}

/* line 2, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav {
  height: 93vh;
  padding: 3.5vh 5vw;
  background-image: linear-gradient(to right, #2C989B, #a9d5d7);
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* line 9, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav a {
  color: #f6f6f6;
  text-decoration: none;
}

/* line 14, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav div {
  display: flex;
}

/* line 17, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav div div {
  flex-grow: 3;
}

/* line 21, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav div button {
  padding: 0;
  background: none;
  border: none;
  flex-grow: 1;
}

/* line 26, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav div button img {
  float: right;
}

/* line 32, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav hr {
  color: #f6f6f6;
  border-style: solid;
  margin-bottom: 1rem;
}

/* line 38, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav ul {
  list-style-type: none;
  padding: 0;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav ul li {
  position: relative;
}

/* line 45, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav ul li .menu-item-content {
  display: flex;
  padding: .25rem 0;
  color: #f6f6f6;
  border-radius: .5rem;
  background: none;
  border: none;
}

/* line 52, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav ul li .menu-item-content div {
  width: 2rem;
}

/* line 54, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav ul li .menu-item-content div img {
  display: block;
  margin: auto;
}

/* line 59, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav ul li .menu-item-content p {
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

/* line 66, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav ul li a:active {
  background: rgba(73, 82, 109, 0.25);
}

/* line 69, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav ul li .chevron {
  padding-left: .5rem;
}

/* line 73, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav ul li ul {
  list-style-type: disc;
  padding-left: 3rem;
  color: #f6f6f6;
}

/* line 78, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav ul li ul li {
  border-radius: .25rem;
  padding: .5rem 0;
}

/* line 81, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav ul li ul li a:active {
  background: none;
}

/* line 85, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_mobile-nav.scss */
.mobile-nav ul li ul li:active {
  background: rgba(73, 82, 109, 0.25);
}

/* line 10, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_notification.scss */
.notif {
  width: 1.25rem !important;
  height: 1.25rem;
  border-radius: 1rem;
  background-color: #ff9285;
  color: white;
  margin-left: 1rem;
  margin-top: .875rem;
  display: block;
  position: relative;
}

/* line 16, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_notification.scss */
.notif p {
  font-size: .75rem;
  position: absolute;
  margin: 0 !important;
  top: .1875rem;
  left: .35rem;
}

/* line 2, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile.scss */
.account-details ul {
  margin: 0 1.5rem;
}

/* line 3, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.hscroll {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1000, max-content);
  overflow-x: auto;
  list-style-type: none;
}

/* line 14, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.hscroll .spacer {
  width: calc(1.5rem/2);
  height: 120px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* line 23, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.nobar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
/* line 28, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.nobar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_status-card.scss */
.status-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #989898;
  line-height: 1.8;
  padding-left: 1.5rem;
  width: 200px;
  height: 120px;
  font-family: "Montserrat", sans-serif;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.status-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 7, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_status-card.scss */
.status-card span {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

/* line 11, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_status-card.scss */
.status-card span:nth-of-type(1) {
  color: #49526d;
  font-size: 1.25rem;
}

/* line 16, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_status-card.scss */
.status-card span:nth-of-type(2) {
  color: #ff9285;
  font-size: 1.25rem;
}

/* line 20, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_status-card.scss */
.status-card span:nth-of-type(3) {
  color: #ff9285;
  font-size: .75rem;
}

/* line 24, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_status-card.scss */
.status-card .back-progress {
  display: inline-block;
  position: relative;
  height: 6px;
  width: 150px;
  background: #f6f6f6;
  border-radius: 1rem;
}

/* line 33, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_status-card.scss */
.status-card .front-progress {
  height: 6px;
  width: calc(150px * 0.75);
  background: #49526d;
  border-radius: 1rem;
}

/* line 40, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_status-card.scss */
.status-card .dot-progress {
  height: 6px;
  width: 6px;
  background: white;
  border: 3px solid #49526d;
  border-radius: 1rem;
  position: absolute;
  top: -3px;
  left: calc(150px * 0.75 - 3px);
}

/* line 51, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_status-card.scss */
.status-card p:nth-of-type(1) {
  font-family: "Lato", sans-serif;
}

/* line 55, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_status-card.scss */
.status-card p:nth-of-type(2) {
  display: inline-block;
  margin: 0 1rem 0 1rem;
  font-size: 1.5rem;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_poll-card.scss */
.poll-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #989898;
  line-height: 1.8;
  padding-left: 1.5rem;
  width: 200px;
  height: 120px;
  font-family: "Montserrat", sans-serif;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.poll-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 4, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_poll-card.scss */
.poll-card p {
  margin-top: .25rem;
  color: #49526d;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: normal;
}

/* line 11, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_poll-card.scss */
.poll-card button {
  margin-top: 1.15rem;
  border: #ff9285 solid 0.1rem;
  background: white;
  border-radius: .25rem;
  padding: .5rem 1.5rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ff9285;
  text-transform: uppercase;
}

/* line 25, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_poll-card.scss */
.poll-card button:active {
  background: #ff9285;
  color: white;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_prize-draw-card.scss */
.prize-draw-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #989898;
  line-height: 1.8;
  padding-left: 1.5rem;
  width: 200px;
  height: 120px;
  font-family: "Montserrat", sans-serif;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.prize-draw-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 4, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_prize-draw-card.scss */
.prize-draw-card p:nth-of-type(1) {
  margin-top: .25rem;
  color: #49526d;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}

/* line 12, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_prize-draw-card.scss */
.prize-draw-card p:nth-of-type(2) {
  margin-top: .5rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* line 18, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_prize-draw-card.scss */
.prize-draw-card button {
  margin-top: .25rem;
  border: #ff9285 solid 0.1rem;
  background: white;
  border-radius: .25rem;
  border: #ff9285 solid 0.05rem;
  padding: .5rem 1.5rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ff9285;
  text-transform: uppercase;
}

/* line 24, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_prize-draw-card.scss */
.prize-draw-card button:active {
  background: #ff9285;
  color: white;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_survey-card.scss */
.survey-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #989898;
  line-height: 1.8;
  padding-left: 1.5rem;
  width: calc(275px - 1.5rem);
  height: 180px;
  position: relative;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.survey-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 61, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.survey-card img {
  margin-left: -1.5rem;
}

/* line 4, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_survey-card.scss */
.survey-card p {
  font-family: "Montserrat", sans-serif;
  color: #49526d;
  padding: 0 0 .25rem 0;
}

/* line 8, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_survey-card.scss */
.survey-card p span {
  text-transform: uppercase;
  font-weight: 500;
}

/* line 13, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_survey-card.scss */
.survey-card div {
  margin-left: -1.5rem;
  width: 275px;
  border-bottom: #ececec solid 0.1rem;
}

/* line 18, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_survey-card.scss */
.survey-card a {
  color: #ff9285;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  padding: .25rem 6rem 0 0;
}

/* line 26, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_survey-card.scss */
.survey-card p:nth-of-type(2) {
  padding-top: .25rem;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_reward-card.scss */
.reward-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #989898;
  line-height: 1.8;
  padding-left: 1.5rem;
  width: calc(275px - 1.5rem);
  height: 180px;
  position: relative;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.reward-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 61, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.reward-card img {
  margin-left: -1.5rem;
}

/* line 4, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_reward-card.scss */
.reward-card div {
  display: flex;
  align-items: center;
}

/* line 7, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_reward-card.scss */
.reward-card div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #49526d;
}

/* line 12, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_reward-card.scss */
.reward-card div p span {
  color: #ff9285;
  font-size: 1.2rem;
}

/* line 17, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_reward-card.scss */
.reward-card div button {
  border: #ff9285 solid 0.1rem;
  height: 3rem;
  flex-basis: 6rem;
  margin: 1rem;
  background: #ff9285;
  border-radius: .25rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* line 34, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_reward-card.scss */
.reward-card div button:active {
  background: white;
  color: #ff9285;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #989898;
  line-height: 1.8;
  padding-left: 1.5rem;
  min-height: 220px;
  width: auto;
  margin: 1.5rem 1.5rem 0 1.5rem;
  padding: 0;
  line-height: unset;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.profile-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
}

/* line 11, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(1) h1 {
  text-transform: uppercase;
  color: #49526d;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: calc(0.1rem * 2.5);
  padding: 1.5rem 0 .75rem 0;
}

/* line 20, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(1) h1, .profile-card section:nth-of-type(1) h2, .profile-card section:nth-of-type(1) p {
  text-align: center;
}

/* line 24, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(1) h2 {
  letter-spacing: calc(0.1rem * 1.5);
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* line 32, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(1) div {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1rem 0 1rem 0;
  margin-left: -.5rem;
}

/* line 40, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(1) div img:nth-of-type(1) {
  padding: 0 .5rem 0 0;
}

/* line 44, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(1) div img:nth-of-type(2) {
  padding: 0 .5rem .25rem .5rem;
}

/* line 48, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(1) div p {
  font-weight: 200;
}

/* line 55, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section {
  border: none;
}

/* line 59, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card hr {
  border: none;
  border-bottom: #ececec solid 0.1rem;
  margin: .5rem 1rem 0 1rem;
}

/* line 64, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(2) {
  padding: 0 .5rem;
}

/* line 66, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(2) ul {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

/* line 71, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(2) ul li {
  flex-basis: 90px;
}

/* line 74, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(2) ul img {
  height: 30px;
}

/* line 77, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(2) ul p:nth-of-type(1) {
  color: #49526d;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: .5rem 0 .5rem 0;
}

/* line 84, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.profile-card section:nth-of-type(2) ul p:nth-of-type(2) {
  font-size: .75rem;
}

/* line 92, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_profile-card.scss */
.account-details h1 {
  padding: 1.5rem 0 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #49526d;
}

/* line 1, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
  border-radius: .25rem;
  color: #989898;
  line-height: 1.8;
  padding-left: 1.5rem;
  line-height: 1.6;
  margin: 0;
  font-weight: unset;
  box-shadow: none;
  border: #c4c4c4 solid 0.05rem;
  width: auto;
  padding: 1rem .5rem;
  margin: .5rem 0;
}

/* line 42, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_cards.scss */
.details-card h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  font-weight: unset;
  line-height: 1.6;
  margin: 0;
  font-weight: unset;
}

/* line 13, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card .details-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* line 17, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card .details-title div:nth-of-type(1) {
  flex-basis: 10%;
  justify-content: center;
  display: flex;
}

/* line 22, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card .details-title h2 {
  flex-basis: 45%;
}

/* line 25, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card .details-title div:nth-of-type(2) {
  width: 1.25rem !important;
  height: 1.25rem;
  border-radius: 1rem;
  background-color: #ff9285;
  color: white;
  text-align: center;
}

/* line 28, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card .details-title div:nth-of-type(2) p {
  padding-left: .1rem;
  font-size: .8rem;
}

/* line 33, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card .details-title h3 {
  flex-basis: 30%;
  text-transform: uppercase;
  padding-left: .5rem;
}

/* line 40, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card .details-title div:nth-of-type(3) {
  flex-basis: 5%;
  justify-content: center;
  display: flex;
}

/* line 46, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card .details-content {
  padding: 1rem 10%;
  border-top: #ececec solid 0.1rem;
  margin-top: 1rem;
}

/* line 51, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card .details-content label {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #49526d;
}

/* line 56, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card .details-content input, .details-card .details-content select {
  width: 100%;
  margin-bottom: 1rem;
  color: #989898;
}

/* line 61, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card .details-content [type=submit] {
  background: white;
  border-radius: .25rem;
  border: #ff9285 solid 0.05rem;
  padding: .5rem 1.5rem;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ff9285;
  text-transform: uppercase;
  width: auto;
  margin-top: 1rem;
  margin-bottom: 0;
}

/* line 68, ../../../../../Users/samhall/Documents/local_repos/projects/hbhub/sass/partials/_details-card.scss */
.details-card .details-content [type=submit]:active {
  background: #ff9285;
  color: white;
}

/*# sourceMappingURL=styles.css.map */