@media only screen and (min-width: 1280px) {
   

    .nav-display {
       display: block;
   } 

   .mobile-nav {
    top: $header-height;
    right: inherit; 
    width: 280px;
    background-image: unset;
    background-color: white;
    color: $copy-grey;
    > div:nth-of-type(1), > hr {
        display: none;
    }

    > ul > li {
        margin: 3rem 0;
    }

    .menu-item-content p {
        color: $light-grey;
    }

    //give the menu items the desktop margin
        a {
            margin-left: calc(#{$desktop-margin} - #{$mobile-margin});
        }
   }

//    move the content screen over to make room for the nav
   .content {
    margin-left: 300px;
    padding-left: 1.5rem
   }

// change background images for menu icons

    #home-icon {
        background: url(/assets/home-grey.svg) center no-repeat !important;
    }

    #profile-icon {
    background: url(/assets/profile-grey.svg) center no-repeat !important;
    }

    #about-icon {
    background: url(/assets/about-grey.svg) center no-repeat !important;
    }

    #logout-icon {
    background: url(/assets/logout-grey.svg) center no-repeat !important;
    }

//update header margin for desktop

    header {
        padding: 0 $desktop-margin;
        display: flex;
        flex-direction: row;
// get rid of menu button from mobile view
        button {
            display: none;
        }
        section {
            align-items: center;
            padding: 0 !important;
        }
        section:nth-of-type(2) {
            margin: 0 9.5rem 0 auto;
        }

    }

// modal edits
    .modal {
        section {
            width: $max-modal-width;
            margin: $modal-margin-desktop;
            // > * {
            //     padding: 0 $desktop-margin;
            // }
        }
    }

    // #status-tiers-modal {
    //     section {
    //         > * {
    //             padding: unset;
    //         }
    //     }
    // }

//make cards and sections bigger for desktop view

    .reward-card, .survey-card {
        height: $card-height-desktop;
        width: calc(#{$card-width-desktop} - #{$mobile-margin});
        img {
            height: 120px;
            width: $card-width-desktop;
        }
        div {
            position: relative;
            padding-top: .75rem;
            button {
                position: absolute;
                right: .5rem;
            }
        }
    }

    .content .surveys-quizzes {
        min-height: 280px;
    }

    .coming-soon-card {
        height: $card-height-desktop;
        width: calc(#{$card-width-desktop} - #{$mobile-margin});
        div:nth-of-type(1) {
            height:120px;
            width: $card-width-desktop;
        }
    }

// resize modal buttons for spending hb points 

    .reward-modal {
        section {
            h2 {
                font-size: 1.5rem;
                a{ 
                    font-size: 1.25rem;
                }
            }
            form > div:nth-of-type(3) {
                button {
                    width: 100%
                    //margin: .5rem auto !important;
                }
            }
        }

    }

    #status-tiers-modal section div:nth-of-type(2) button {
        width: 400px;
        margin: .5rem auto !important;
    }

    #today-poll-modal section form {
        > input {
            margin: 2rem 2rem 2rem 0; 
          }   
        > label {
                font-size: 1.4rem;
        }
        div {
        input[type="submit"], button {
            width: 100%;
            //margin: .5rem auto !important;
        }
    }
    }
// centre align rewards history modal

    #reward-hist-modal {
        section {
            max-height: 800px;
            position: fixed;
        }
    }

// reveal the horizontal scrollbar on computer

    .nobar {
        -ms-overflow-style: unset;
        scrollbar-width: auto;
    }

    // reset the margin for prize draw modal 

    #prize-draw-modal {
        ul {
            margin: 0 $desktop-margin !important;
        }
    }

} 

