// Change the size and position of small cards for small mobile screens
//removed as we changed to a vertical scroll system
// @media only screen and (max-height: 620px) {
//     .content {
//         section {
//             //align-items: baseline;
//         }
//     }
//     .small-card {
//         height: 100px;
//         margin-top: .5rem;
//         h3 {
//             margin-top: .25rem;
//         }
        
//     }
//     .status-card {
//         p:nth-last-of-type(1) {
//             font-size: 1.25rem;
//         }
//     }

//     .poll-card {
//         button {
//             margin-top: .5rem;
//             padding: .25rem 1.5rem;
//         }
//     }
// }
@media only screen and (max-width: 330px) {
    #status-tiers-modal {
        section {
            li {
                figure {
                    margin: 0;
                }
                ul {
                    margin: 0 0 0 auto;
                }
            }
        }
    }

}


@media only screen and (max-width: 350px) {
    section {
        min-width: auto !important;
    }

    .reward-modal {
        section > form {
            margin: 0 2rem;
        }
    }

    #status-tiers-modal {
        section {
            //padding: 0;
        }
    }
}

@media only screen and (max-width: 410px) {
    #status-tiers-modal {
        section {
            //padding: 0 1.5rem 1.5rem;
        }
    }
}

@media only screen and (min-width: 460px) {
    #prize-draw-modal {
        ul {
            margin: 0 calc(#{$desktop-margin} - 1rem) !important;
        }
    }
}

@media only screen and (max-width: 465px) {
    #prize-draw-modal {
        section {
            > * {
                padding: 0 3rem;
            }
        }
    }
}

@media only screen and (max-height: 810px) {
    .modal {
        padding: 0 1.5rem 1.5rem;
    }
}