//-class for container of cards for horizontal scrolling in the small card design

.hscroll {
    padding: $mobile-margin;
    //--overflow on grid rules
    display: grid;
    grid-template-columns: repeat(#{$stats-and-polls-card-count},max-content);
    overflow-x: auto;
    //--changes scroll behaviour
    //scroll-snap-type: x proximity;

    //--remove list style
    list-style-type: none;
    .spacer {
        width: calc(#{$mobile-margin}/2);
        height: 120px;
    }
  }

//- the class 'nobar' removes scrollbar but keeps functionality

 /* Hide scrollbar for Chrome, Safari and Opera */
 .nobar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .nobar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 
@mixin card {
    
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: .25rem;
    color: $copy-grey;
    line-height: 1.8;
    padding-left: 1.5rem;
    h3 {
      margin: 1rem 0 0 0;
      font-weight: 400;
  }
}

@mixin small-card {
  width: 200px;
  height: 120px;
  //base font that changes according to more specific classes
  font-family: $title;
}

@mixin big-card {
  width: calc(#{$big-card-width} - 1.5rem);
  height: 180px;
  position: relative;
  img {
    margin-left: -1.5rem;
  }
}


