//-colours
$teal-primary: linear-gradient(to right, #2C989B, #a9d5d7);
$copy-grey: #989898;
$divider-grey: #ececec;
$off-white: #f6f6f6;
$charcoal: #323232;
$highlight: #49526d;
$opaque-highlight: rgba(73,82,109,.25);
$secondary: #ff9285;
$prize-gold: #A78F85;
$box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.2), 0 3px 10px 0 rgba(200, 200, 200, 0.3);
$border-grey: #c4c4c4 solid 0.05rem;
$border-light-grey: $divider-grey solid 0.05rem;
$border-orange: $secondary solid 0.05rem;
$fade: rgba(0,0,0,0.4);
//$divider is used for breaks between sections. 
$divider: #ececec solid 0.1rem;
//-typography
$font-primary: 'Montserrat', sans-serif;
$title: 'Montserrat', sans-serif;
$title-weight: 600;
$heading: $title;
$heading-weight: 500;
$sub-heading: $title;
$sub-heading-weight: 400;
$copy: 'Lato', sans-serif;
$copy-weight: 300;
$light-copy-weight: 200;
$card-letter-spacing: .1rem;

//-measurements
$header-height: 9rem;
$mobile-margin: 1.5rem;
$big-card-width: 275px;

//-dynamic variable (ready for data integration)--xxx
//--change to show percentage of way to next tier
$status-bar-progress: .75;
//--the amount of list items in different horizontal scroll sections (looks like smaller values work with a large count. possible fix for dynamic system)
$stats-and-polls-card-count: 1000;

:root {
  font-size: 12px;
  letter-spacing: .1rem;
}

body {
  font-family: $copy;
  font-weight: $copy-weight;
  background-color: $off-white;
}

button {
  cursor: pointer;
}

// a class for when a dropdown is clicked included in mobile-nav.scss
.chevron-invert {
  transform: rotate(180deg)!important;
  //margin-left: .5rem!important;
}

//mixins

@mixin section-heading {
      padding: 1.5rem 0 .5rem $mobile-margin;
      font-size: 1.5rem;
      font-family: $font-primary;
      font-weight: $heading-weight;
      color: $highlight;
      @content;
      @content;
      @content;
      @content;
}

@mixin orange-button {
      //margin-top: 1rem;
      border: $secondary solid .1rem;
      height: 3rem;
      flex-basis: 6rem;
      margin: 1rem;
      background: $secondary;
      border-radius: .25rem;
      //padding: .5rem 1.5rem;
      box-shadow: none;
      font-family: $heading;
      font-weight: $heading-weight;
      font-size: 1rem;
      color: white;
      text-transform: uppercase;
      letter-spacing: $card-letter-spacing;
}

@mixin inverted-button {
        background: white;
        border-radius: .25rem;
        border: $border-orange;
        padding: .5rem 1.5rem;
        box-shadow: none;
        font-family: $sub-heading;
        font-weight: $sub-heading-weight;
        font-size: 1rem;
        color: $secondary;
        text-transform: uppercase;
}

//notification class (non functional prototype ready for data integration)

@mixin alert-dot {
  width: 1.25rem !important;
  height: 1.25rem;
  border-radius: 1rem;
  background-color: $secondary;
  color: white;
}