header {
  height: auto;
  padding: 3.5vh 5vw;
  background-image: $teal-primary;
 // container for logo and close button
  div {
    display: flex;
// container for logo
    .logo-container {
      flex-grow: 3;
    }
// mobile menu close button
    button {
      padding: 0;
      background: none;
      border: none;
      flex-grow: 1;
      img {
        float: right;
      }
    }
  }
  .user-details {
    display: flex;
    margin-top: 1rem;
  }
    .user-name {
      padding-right: 1rem;
      border-right: 2px solid $off-white ;
    }
}
