body {
  position: relative;
}

header {
  height: $header-height;
  width: 100%;
  padding: 0 $mobile-margin;
  background-image: $teal-primary;
  color: $off-white;
  position: fixed;
  z-index: 3;

  section {
    display: flex; 
  }
 // container for logo and close button
  section:nth-child(1) {
    padding: 2rem 0 0 0;
// container for logo
    .logo-container {
      flex-grow: 3;
    }
// mobile menu close button
    button {
      padding: 0;
      background: none;
      border: none;
      flex-grow: 1;
      //padding-right: 1rem;
      img {
        //float: right;
      }
    }
  }
  .user-details {
    display: flex;
    font-weight: bold;
    padding-top: 1rem;
    //float: right;
    p:nth-child(1) {
      padding-right: 1rem;
      border-right: 2px solid $off-white ;
    }
    p:nth-child(2) {
      padding-left: 1rem;
      //border-right: 2px solid $off-white ;
      span {
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  } 
}

.content {
  // content height = full mobile screen - combined divider height - header height
  height: calc(100vh - .3rem - #{$header-height});
  background-color: $off-white;
  display: flex;
  flex-direction: column;
  padding-top: #{$header-height};
  section {
    //turn these off to make card scroll work with titles in section. will probably remove.
    //display: flex;
    //align-items: center;
    border-bottom: $divider-grey solid .1rem;
  }
  .stats-and-polls {
    height: 25%;
    min-height: 150px;
    width: auto;
  }
  .surveys-quizzes {
    height: 37.5%;
    min-height: 250px;
    width: auto;
    align-items: baseline;
    //background-color: rgb(44, 116, 54);
  }
}
