//notification class (non functional prototype ready for data integration)

@mixin alert-dot {
  width: 1.25rem !important;
  height: 1.25rem;
  border-radius: 1rem;
  background-color: $secondary;
  color: white;
}
.notif {
  @include alert-dot;
  margin-left: 1rem;
  margin-top: .875rem;
  display: block;
  position: relative;
  p {
    font-size: .75rem;
    position: absolute;
    margin: 0 !important;
    top: .1875rem;
    left: .35rem;
  }
}
