.surveys-quizzes {
    h1{
        padding: 1.5rem 0 .5rem $mobile-margin;
        font-size: 1.5rem;
        font-family: $font-primary;
        font-weight: $heading-weight;
        color: $highlight;
    }
}