.confirm-purchase {
    padding: initial !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    margin-top: 0 !important;

    img {
            width: 94px !important;
            height: 41px !important;
            padding-top: 3rem;
        }
    p {
        text-transform: initial !important;
        font-weight: initial !important;
        text-align: center !important;
        span {
            font-weight: bolder;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        [type=submit] {
                @include orange-button;
                flex-basis:  27px;
                margin: 0;
        }

        button {
            @include inverted-button;
            flex-basis: 27px;
            margin: 1rem 0;
        }
    }
}