

.modal {
  z-index: 4;
  position: absolute;
  top:0;
  left:0;
  right:0;
  height: auto;
  min-height: 100vh;
  background-color: $fade;
  section {
    @include card;
    margin: calc(#{$header-height} + #{$mobile-margin}) $mobile-margin 0 $mobile-margin;
    padding: 0;
  }
  * {
    //pointer-events: none;
  }
}