// prize modal 
#prize-draw-modal {
  display: flex;
  // align-items: center;
  // justify-content: center;
  section {
    height: max-content;
    display: flex;
    flex-direction: column;
    h1 {
      @include modal-heading; 
    }
    h2 {
      text-align: center;
      color: $prize-gold;
      margin: 0 $mobile-margin;
      font-size: 1.2rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        img {
         max-width: 90px;
          max-height: 100px;
          align-self: center;
        }
        p {
          text-align: center;
          padding: .5rem .25rem;
          width: 100px;
          height: 40px;
          font-size: .8rem;
        }
      }
    } 
    figure {
      display: flex;
      justify-content: center;
      width: auto;
      img {
        max-width: 320px;
        max-height: 40px;
        margin: $mobile-margin;
        object-fit: contain;
        width: 100%
      }
    }
    button {
      @include orange-button;
      text-align: center;
      margin: 1rem 6rem;
      flex-basis: 4rem
      
    }
  }
  section > p {
      @include section-heading;
      font-weight: lighter;
      line-height: 1.2;
      font-size: 1.3rem;
      padding: 1rem 0;
      text-align: center;
  }
}