#reward-hist-modal {
    display: flex;
    justify-content: center;
    text-align: center;
    section {
        h1{
            @include modal-heading;
        }
        table{
            font-size: .9rem;
            width: calc(100% - 4rem);
            margin: 0 2rem;
            tr {
                border-bottom: $border-grey;
                th, td {
                    padding: 1rem .25rem;  
                }
                th {
                    text-transform: uppercase;
                    font-family: $title;
                    color: $secondary;
                    
                    text-align: left;
                }
            }
        }
        .modal-buttons {
            margin: 0;
            padding-bottom: 1.5rem;
            width: unset;
            position: sticky;
            button {
                @include inverted-button;
                margin: 1rem 0;
                padding: .5rem 8rem;
                width: calc(100% - 4rem);
                margin: 2rem;
            }
        }    
    }                               
}
    
    .alt-modal-look {
        padding-bottom: 10vh;
        section {
            height: calc(95vh - #{$header-height});
            position: fixed;
            overflow-y: scroll;
            .modal-buttons {
                position: fixed;
                bottom: 0;
                //left: 2.25rem;
                background-color: white;
                width: calc(100% - 2 * #{$mobile-margin});
                border-radius: .25rem;
                min-width: $min-modal-width;
            }
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        section {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */
        }
        /* Hide scrollbar for Chrome, Safari and Opera */
        section::-webkit-scrollbar {
            display: none;
        }

}