//poll modal

#today-poll-modal {
  section {
    h1 {
      padding: 3rem 0 0 0;
      font-size: 1.25rem;
    }
    h2 {
      @include section-heading;
      font-weight: lighter;
      line-height: 1.2;
      font-size: 1.3rem;
      padding: 1rem 0;
      border-bottom: $border-light-grey;
    }
    form {
      line-height: 3rem;
      > input {
        margin: 1rem 1rem 1rem 0; 
      }   
      label{
        padding: 0 0 0 1rem;
        color: $highlight;
        font-size: 1.2rem
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        input[type=submit] {
          @include orange-button;
          flex-basis: unset;
          padding: .5rem 1.5rem;
          margin: 1rem 0;
          height: unset;
        }
        button {
          @include inverted-button;
          margin-bottom: $modal-bottom-margin;
        }
      }
    }
  }
}