.prize-draw-card {
    @include card;
    @include small-card;
    p:nth-of-type(1) {
        margin-top: .25rem;
        color: $highlight;
        font-weight: $heading-weight;
        font-size: 1.1rem;
        line-height: 1.2;
        font-family: $heading;
    }
    p:nth-of-type(2) {
        margin-top: .5rem;
        font-family: $copy;
        font-weight: $copy-weight;

    }
    button {
        margin-top: .25rem;
        border: $secondary solid .1rem;
        
        @include inverted-button;
    }
    button:active {
        background: $secondary;
        color: white;
    }
}