.reward-card {
    @include card;
    @include big-card;
    div {
        display: flex;
        align-items: center;
        p {
            font-family: $heading;
            font-weight: $heading-weight;
            letter-spacing: $card-letter-spacing;
            color: $highlight;
            span {
            color: $secondary;
            font-size: 1.2rem;
            }
        }
        button {
            @include orange-button;
        }
        button:active {
            background: white;
            color: $secondary;
        }
        
    }
    
}