// flex container for list items in mobile menu
.mobile-nav {
  padding: $mobile-margin;
  background-image: $teal-primary;
  font-size: 1.3rem;
  font-family: $heading;
  font-weight: $heading-weight;
  z-index: 4;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  a {
    color: $off-white;
    text-decoration: none;
  }
 // container for logo and close button
  div {
    display: flex;
// container for logo
    div {
      flex-grow: 3;
    }
// mobile menu close button
    button {
      padding: 0;
      background: none;
      border: none;
      flex-grow: 1;
      img {
        float: right;
        padding: .75rem;
      }
    }
  }
//horizontal rule between logo and mobile menu items
  hr {
    color: $off-white;
    border-style: solid;
    margin-bottom: 1rem;
  }
//mobile menu
  > ul {
    list-style-type: none;
    padding: 0;
//mobile menu items
    > li {
      position: relative;
      margin: 1rem 0;
// mobile menu items content
      .menu-item-content {
        display: flex;
        padding: .25rem 0;
        color: $off-white;
        border-radius: .5rem;
        background: none;
        border: none;
        div {
          width: 2rem;
      }

        figure {
          background-color: red;
          width: 20px;
          height: 20px;
          margin: auto;
        }
        p {
          text-transform: uppercase;
          letter-spacing: .1rem;
          margin-left: 1rem;
          margin-top: .25rem;
          margin-right: .5rem;
        }
        .notif {
          @include alert-dot;
          margin-left: 1rem;
          margin-top: .3rem;
          display: block;
          position: relative;
          p {
            font-size: .75rem;
            position: absolute;
            margin: 0 !important;
            top: .1875rem;
            left: .35rem;
          }
        }
      }

// background images for menu icons 

      #home-icon {
          background: url(/assets/home.svg) center no-repeat;
      }

      #profile-icon {
        background: url(/assets/profile.svg) center no-repeat;
      }

      #about-icon {
        background: url(/assets/about.svg) center no-repeat;
      }

      #logout-icon {
        background: url(/assets/logout.svg) center no-repeat;
      }

      #login-icon {
        background: url(/assets/login.svg) center no-repeat;
      }

      a:active {
        background: $opaque-highlight;
      }
      .chevron {
        //padding-left: .5rem;
      }
  // nested menu items
      ul {
      //  display: none;
        // list-style-type: disc;
        padding-left: 3rem;
        color: $off-white;
        li {
          border-radius: .25rem;
          margin: 1rem 0;
          a:active {
            background: none;
          }
        }
        li:active {
          background: $opaque-highlight;
        }
      }
    }
    > li:nth-last-of-type(1) {
      margin: 2rem 0;
    }
  }
}
